.welcome{
    background-color: #ffffff;
  }
  
  
  .app-grid{
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 16px;
      row-gap: 16px;
      margin-right: auto;
      margin-left: auto;
      
    }
    .img_left img{
     display: block;
     max-width: 100%;
     margin-left: auto;
     margin-right: auto;
     height: 110%;
    }
    .img_right img{
      display: block;
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
      height: 40%;
    }
   
    .form-group {
      width: 420px;
      padding-top: 5px;
      padding-bottom: 10px;
      border-radius: 8px;
      margin-left: auto;
      margin-right: auto;
      background-color: white;
    }
    



